In [ ]:
#name: Sahiti Sri Upputuri
#prohject: Final

In [ ]:
#part1: print the list of all employees

In [1]:
class Vehicle:
    def __init__(self, vmake, vmodel, vyear, vmil):
        self.setvehiclemake(vmake)
        self.setvehiclemodel(vmodel)
        self.setvehicleyear(vyear)
        self.setvehiclemileage(vmil)
        
    #set functions
    def setvehiclemake(self, vmake):
         self.vehiclemake = vmake
    def setvehiclemodel(self, vmodel):
         self.vehiclemodel = vmodel
    def setvehicleyear(self, vyear):
         self.vehicleyear = vyear
    def setvehiclemileage(self, vmil):
         self.vehiclemileage = vmil
            
    #get functions        
    def getvehiclemake(self):
         return self.vehiclemake
    def getvehiclemodel(self):
         return self.vehiclemodel
    def getvehicleyear(self):
         return self.vehicleyear
    def getvehiclemil(self):
         return self.vehiclemileage
    def printvehicledetails(self):
        return "Make: " + self.getvehiclemake() + "; Model: " + self.getvehiclemodel() + "; Year of Manufacture: " + str(self.getvehicleyear()) + ";  Mileage: " + str(self.getvehiclemil()) 
    
    def __str__(self):
        return "Make: " + self.getvehiclemake() + "; Model: " + self.getvehiclemodel() + "; Year of Manufacture: " + str(self.getvehicleyear()) + ";  Mileage: " + str(self.getvehiclemil()) 

    
#(self.vehiclemake, self.vehiclemodel, self.vehicleyear, self.vehiclemileage)
#x = Vehicle("Honda", "Civic", 2014, 50000)
#x.printvehicledetails()
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.getvehiclemil())
vehicle1.setvehicleyear(2012)
print("The year of manufacture of this vehicle is:", vehicle1.getvehicleyear())

Make: Honda; Model: Civic; Year of Manufacture: 2014;  Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [2]:
class Employee(Vehicle):
    def __init__(self, ename, eaddress, evehicle):
        self.setemployeename(ename)
        self.setemployeeaddress(eaddress)
        self.setemployeevehicle(evehicle)
        
    #set functions
    def setemployeename(self, ename):
        self.ename = ename
    def setemployeeaddress(self, eaddress):
        self.eaddress =  eaddress
    def setemployeevehicle(self, evehicle):
        self.evehicle = evehicle
    def set_vehicle(self, veh):
        self.evehicle = evehicle
    
    #get functions        
    def getemployeename(self):
        return self.ename
    def getemployeeaddress(self):
        return self.eaddress
    def get_vehicle(self):
        return self.evehicle
    def getemployeevehicle(self):
        return self.evehicle.printvehicledetails()
    def getemployeevehicle_mil(self):
        return self.evehicle.getvehiclemil()
    def getemployeevehicle_year(self):
        return self.evehicle.getvehicleyear()

        
    def __str__(self):
        return "Employee Name: " + self.getemployeename() + ", Employee Address: " + self.getemployeeaddress() + "\n" + self.evehicle.__str__()  
    
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.getemployeename(),emp1.getemployeeaddress()))
print("{0} owns a {1} {2} vehicle.".format(emp1.getemployeename(),emp1.get_vehicle().getvehiclemake(),emp1.get_vehicle().getvehiclemodel()))
emp1.setemployeeaddress("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.getemployeename(),emp1.getemployeeaddress()))

Employee Name: Amy, Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012;  Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [3]:
class FullTimeEmployee(Employee):
    def __init__(self, ename, eaddress, evehicle, ftsalary):
        Employee.__init__(self, ename, eaddress, evehicle)
        self.setftsalary(ftsalary)
    #set functions
    def setftsalary(self, ftsalary):
        self.ftsalary = ftsalary
    #get functions
    def getftsalary(self):
        return "{:.2f}".format(self.ftsalary)
    
    def compute_compensation(self):
        if self.ftsalary <=45000:
            tax = 0.18*self.ftsalary
        elif self.ftsalary >=45000 and self.ftsalary <=82000:
            tax = 0.18*45000 + 0.28*(self.ftsalary - 45000) #upto 45k 18% and then 28%
        else: 
            tax = 0.18*45000 + 0.28*(82000-45000)+0.33*(self.ftsalary - 82000)
        return (self.ftsalary - tax)/52 #weekly compensation with 52 weeks
    
    def compute_reimbursement(self, annualexp):
        if annualexp<=10000:
            return annualexp/52 #for weekly
        else: 
            return ((10000+((annualexp-10000)*0.5))/52) #for weekly one
        
    def getemployeedetails(self):
        #super().__str__(self)
        return "Details of this Full-time employee are: \n"+ "Employee Name: " + self.getemployeename() +"; Employee Address: " + self.getemployeeaddress() + "\n" + self.getemployeevehicle() + "\n" + "Salary: " + self.getftsalary()
    def __str__(self):
        super().__str__()
        return "Details of this Full-time employee are: \n"+ "Employee Name: " + self.getemployeename() +"; Employee Address: " + self.getemployeeaddress() + "\n" + self.getemployeevehicle() + "\n" + "Salary: " + self.getftsalary()
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.getemployeename(),emp2.getftsalary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.getemployeename(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.getemployeename(),emp2.compute_reimbursement(12000)))
emp2.setftsalary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.getemployeename(),emp2.getftsalary()))

Details of this Full-time employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012;  Mileage: 50000
Salary: 40000.00
Amy has an annual salary of $40000.00.
Amy has a weekly compensation of $630.77.
Amy has a weekly reimbursement of $211.54.
Amy has an annual salary of $50000.00.

In [4]:
class HourlyEmployee(Employee):
    def __init__(self, ename, eaddress, evehicle, workedhours, rateperhour):
        self.setemployeename(ename)
        self.setemployeeaddress(eaddress)
        self.setemployeevehicle(evehicle)
        self.setworkedhours(workedhours)
        self.setrateperhour(rateperhour)
        
    #set functions
    def setworkedhours(self, workedhours):
        self.workedhours = workedhours
    def setrateperhour(self, rateperhour):
        self.rateperhour = rateperhour
        
    #get functions
    def getworkedhours(self):
        return self.workedhours
    def getrateperhour(self):
        return self.rateperhour
    
    def compute_compensation(self):
        if self.workedhours <=40:
            return self.workedhours*self.rateperhour #per week compensation
        else:
            return self.rateperhour*40 + (self.workedhours - 40)*1.8*self.rateperhour #weekly compensation over time
    def compute_reimbursement(self, weeklyexpense):
        if weeklyexpense<=100:
            return weeklyexpense
        else: 
            return 100 #fixed value of 100$
        
    def getemployeedetails(self):
        #super().__str__(self)
        return "Details of this Hourly employee are: \n"+ "Employee Name: " + self.getemployeename() +"; Employee Address: " + self.getemployeeaddress() + "\n" + self.getemployeevehicle() + "\n" + "Hours Worked: " + str(self.getworkedhours())  + "; Hourly Rate: " + str(self.getrateperhour())
    def __str__(self):
        super().__str__()
        return "Details of this Hourly employee are: \n"+ "Employee Name: " + self.getemployeename() +"; Employee Address: " + self.getemployeeaddress() + "\n" + self.getemployeevehicle() + "\n" + "Hours Worked: " + str(self.getworkedhours())  + "; Hourly Rate: " + str(self.getrateperhour())
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.getemployeename(),emp3.getworkedhours(),emp3.getrateperhour()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.getemployeename(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.getemployeename(),emp3.compute_reimbursement(120)))
emp3.setrateperhour(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.getemployeename(),emp3.getworkedhours(),emp3.getrateperhour()))

Details of this Hourly employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012;  Mileage: 50000
Hours Worked: 50; Hourly Rate: 20
Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [5]:
class Consultant(Employee):
    def __init__(self, ename, eaddress, evehicle, workedhours, projecttype):
        self.setemployeename(ename)
        self.setemployeeaddress(eaddress)
        self.setemployeevehicle(evehicle)
        self.setworkedhours(workedhours)
        self.setprojecttype(projecttype)
        
    #set functions
    def setworkedhours(self, workedhours):
        self.workedhours = workedhours
    def setprojecttype(self, projecttype):
        self.projecttype = projecttype
        
    #get functions
    def getworkedhours(self):
        return self.workedhours
    def getprojecttype(self):
        return self.projecttype
    
    def compute_compensation(self):
        if self.projecttype == 1:
            return self.workedhours*55 #per week compensation for project1
        elif self.projecttype == 2:
            return self.workedhours*70 #per week compensation for project2
        else:
            return self.workedhours*85 #per week compensation for project3
        
    def compute_reimbursement(self, weeklyexp):
        if self.projecttype == 1:
            return weeklyexp
        elif self.projecttype == 2:
            return (weeklyexp*0.9)
        else:
            return (weeklyexp*0.8)
        
    def getemployeedetails(self):
        #super.__str__()
        return "Details of this Consultant employee are: \n"+ "Employee Name: " + self.getemployeename() +"; Employee Address: " + self.getemployeeaddress() + "\n" + self.getemployeevehicle() + "\n" + "Hours Worked: " + str(self.getworkedhours()) + "; Project Type: " + str(self.getprojecttype())
    def __str__(self):
        super.__str__(self)
        return "Details of this Consultant employee are: \n"+ "Employee Name: " + self.getemployeename() +"; Employee Address: " + self.getemployeeaddress() + "\n" + self.getemployeevehicle() + "\n" + "Hours Worked: " + str(self.getworkedhours()) + "; Project Type: " + str(self.getprojecttype())
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.getemployeename(),emp4.getworkedhours(),emp4.getprojecttype()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.getemployeename(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.getemployeename(),emp4.compute_reimbursement(300)))
emp4.setworkedhours(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.getemployeename(),emp4.getworkedhours(),emp4.getprojecttype()))

Details of this Consultant employee are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012;  Mileage: 50000
Hours Worked: 40; Project Type: 2
Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [6]:
employees_list = []

vehicle1 = Vehicle("Honda", "Civic", 2014, 50000)
ft1 = FullTimeEmployee("Amy", "100 W CampbellRoad, Richardson, Texas, 75080", vehicle1, 40000)
employees_list.append(ft1)

vehicle2 = Vehicle("Toyota", "Camry", 2010, 60000)
ft2 = FullTimeEmployee("Bob", "200 W CampbellRoad, Richardson, Texas, 75080", vehicle2, 80000)
employees_list.append(ft2)

vehicle3 = Vehicle("BMW", "X3", 2016, 30000)
ft3 = FullTimeEmployee("Evan", "300 W CampbellRoad, Richardson, Texas, 75080", vehicle3, 120000)
employees_list.append(ft3)

vehicle4 = Vehicle("Kia", "Rio", 2005, 150000)
hr1 = HourlyEmployee("Grace", "400 W CampbellRoad, Richardson, Texas, 75080", vehicle4, 50, 20)
employees_list.append(hr1)
    
vehicle5 = Vehicle("Mazda", "Mazda3", 2010, 80000)
hr2 = HourlyEmployee("James", "500 W CampbellRoad, Richardson, Texas, 75080", vehicle5, 30, 25)
employees_list.append(hr2)

vehicle6 = Vehicle("Nissan", "Sentra", 2005, 160000)
hr3 = HourlyEmployee("Luna", "600 W CampbellRoad, Richardson, Texas, 75080", vehicle6, 20, 15)
employees_list.append(hr3)

vehicle7 = Vehicle("Ford", "Ranger", 2011, 80000)
ct1 = Consultant("Michael", "700 W CampbellRoad, Richardson, Texas, 75080", vehicle7, 40, 1)
employees_list.append(ct1)

vehicle8 = Vehicle("Mercedes-Benz", "GLE350", 2018, 30000)
ct2 = Consultant("Tom", "800 W CampbellRoad, Richardson, Texas, 75080", vehicle8, 50, 2)
employees_list.append(ct2)

vehicle9 = Vehicle("Tesla", "Model3", 2018, 15000)
ct3 = Consultant("Zoey", "900 W CampbellRoad, Richardson, Texas, 75080", vehicle9, 30, 3)
employees_list.append(ct3)

In [7]:
n = len(employees_list)
for i in range(n):
    e_current = employees_list[i]
    print(e_current.getemployeedetails())
    print("\n")

Details of this Full-time employee are:
Employee Name: Amy; Employee Address: 100 W CampbellRoad, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014;  Mileage: 50000
Salary: 40000.00


Details of this Full-time employee are:
Employee Name: Bob; Employee Address: 200 W CampbellRoad, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010;  Mileage: 60000
Salary: 80000.00


Details of this Full-time employee are:
Employee Name: Evan; Employee Address: 300 W CampbellRoad, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016;  Mileage: 30000
Salary: 120000.00


Details of this Hourly employee are:
Employee Name: Grace; Employee Address: 400 W CampbellRoad, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005;  Mileage: 150000
Hours Worked: 50; Hourly Rate: 20


Details of this Hourly employee are:
Employee Name: James; Employee Address: 500 W CampbellRoad, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010;  Mileage: 80000
Hours Worked: 30; Hourly Rate: 25


Details of this Hourly employee are:
Employee Name: Luna; Employee Address: 600 W CampbellRoad, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005;  Mileage: 160000
Hours Worked: 20; Hourly Rate: 15


Details of this Consultant employee are:
Employee Name: Michael; Employee Address: 700 W CampbellRoad, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011;  Mileage: 80000
Hours Worked: 40; Project Type: 1


Details of this Consultant employee are:
Employee Name: Tom; Employee Address: 800 W CampbellRoad, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018;  Mileage: 30000
Hours Worked: 50; Project Type: 2


Details of this Consultant employee are:
Employee Name: Zoey; Employee Address: 900 W CampbellRoad, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018;  Mileage: 15000
Hours Worked: 30; Project Type: 3

In [8]:
#create management class from fT and consultant
class Management(FullTimeEmployee, Consultant):
    def __init__(self, name, address, vehicle, salary, hoursworked, project_type):
        #print('here salary is',salary)
        FullTimeEmployee.__init__(self, name, address, vehicle, salary)
        Consultant.__init__(self, name, address, vehicle, hoursworked, project_type)
    def compute_compensation(self):
        return FullTimeEmployee.compute_compensation(self)+Consultant.compute_compensation(self)
    def compute_reimbursement(self, annualexp, weeklyexp):
        return FullTimeEmployee.compute_reimbursement(self, annualexp)+Consultant.compute_reimbursement(self,weeklyexp)
    def __str__(self):
        return "Details of this Management are: \n"+"Employee Name: "+(self.getemployeename())+"; Employee Address: "+(self.getemployeeaddress())+"\n"+str(self.getemployeevehicle())+"\nSalary: " +str(self.getftsalary())+ "; Hours Worked: "+str(self.getworkedhours())+"; Project Type: "+str(self.getprojecttype())
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.getemployeename(),emp5.getftsalary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.getemployeename(),emp5.getworkedhours(),emp5.getprojecttype()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.getemployeename(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.getemployeename(),emp5.compute_reimbursement(8000,300)))

Details of this Management are:
Employee Name: Jane; Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014;  Mileage: 50000
Salary: 120000.00; Hours Worked: 10; Project Type: 3


Jane has an annual salary of $120000.00.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2561.54.
Jane has a weekly reimbursement of $393.85.

In [78]:
def get_employee_input():
    ename=input('Enter the employee name')
    eaddress=input('Enter employee address')
    return ename,eaddress
name, address=get_employee_input()
print("{0} lives at {1}.".format(name,address))

Enter the employee nameBob
Enter employee address350 E Campbell Road, Richardson, Texas, 75080
Bob lives at 350 E Campbell Road, Richardson, Texas, 75080.

In [ ]:
#Step2: use the empdata.dat file to read and write

In [79]:
def get_vehicle_input():
    vehical_make =  input("Enter vehicle make:")
    vehicle_model = input("Enter vehicle model:")
    vehicle_year = int(input("Enter vehicle year of manufacture(yyyy):")) #integer name like 2012
    if vehicle_year<1900 or vehicle_year>2020:
        print('Please enter an integer value for year in the format of yyyy between 1900 and 2020.')
        vehicle_year = int(input("Enter vehicle year of manufacture(yyyy):"))
    vehicle_mil = int(input("enter vehicle milage value:")) #interger values
    return (vehical_make, vehicle_model, vehicle_year, vehicle_mil)

#print('', get_vehicle_input())000
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter vehicle make:Ford
Enter vehicle model:Ranger
Enter vehicle year of manufacture(yyyy):2021
Please enter an integer value for year in the format of yyyy between 1900 and 2020.
Enter vehicle year of manufacture(yyyy):2011
enter vehicle milage value:80000
The vehicle entered is a Ford Ranger made in 2011 with 80000 mileage curently.

In [80]:
def get_ft_employee_input():
    salary = float(input("Enter the salary of full-time employee:"))
    return salary
#print('', get_ft_employee_input())
salary=get_ft_employee_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Enter the salary of full-time employee:80000
The annual salary entered is 80000.00

In [81]:
def get_hourly_employee_input():
    worked_hours = int(input("Enter the worked hours of hourly employee:"))
    hours_rate = float(input("Enter the hourly rate of worked hours of hourly employee:"))
    return (worked_hours, hours_rate)
#print('', get_hourly_employee_input())
hours_worked, hourly_rate = get_hourly_employee_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter the worked hours of hourly employee:30
Enter the hourly rate of worked hours of hourly employee:20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [82]:
def get_consultant_input():
    worked_hours = int(input("Enter the worked hours of consultant employee:"))
    project_type = int(input("project type? (Enter a number between 1 and 3)"))
    return worked_hours, project_type
#print('', get_consultant_input())
hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter the worked hours of consultant employee:40
project type? (Enter a number between 1 and 3)2
This consultant works 40 hours per week for type 2 project.

In [83]:
def get_management_input():
    annual_salary = float(input("Enter the annual salary of the employee:"))
    worked_hours = int(input("Enter the worked hours of the employee:"))
    project_type = int(input("Project Type? (Enter a number between 1 and 3):"))
    return (annual_salary, worked_hours, project_type)
#print('', get_management_input())
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Enter the annual salary of the employee:100000
Enter the worked hours of the employee:8
Project Type? (Enter a number between 1 and 3):3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [15]:
#read the empdata.dat file and add the emplist to it
#it requires pickle to read this value
import pickle
def read_emp_file():
    with open('empdata.dat', 'rb') as file:
        employee_list = []
        while(1):
            try:
                employee_list.append(pickle.load(file)) 
            except EOFError: 
                break #break the execution here  
    e1 = employees_list
    return e1
#e1 = read_emp_file()
#print(":{}".format(e1[0].getftsalary()))
#print(len(e1))
#print(e1[1])
#e1 = employees_list
emp_list=read_emp_file()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].getemployeename()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database: Details of this Full-time employee are:
Employee Name: Amy; Employee Address: 100 W CampbellRoad, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014;  Mileage: 50000
Salary: 40000.00

Amy is the first employee.

In [84]:
def run_option1():
    while(1): 
        emp_type = input("Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :")
        if emp_type.isnumeric():
            if int(emp_type)<1 or int(emp_type)>4:
                print('Please select an option from 1, 2, 3, and 4.')
            #print('Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :')
            else:
                break
        else: 
            print('Please select an option from 1, 2, 3, and 4.')
    ename, eaddress = get_employee_input()
    vmake, vmodel, vyear, vmil = get_vehicle_input()
    vehicle11 = Vehicle(vmake, vmodel, vyear, vmil) #create vehicle class object here
    #based on the employee type create the objects accordingly
    if int(emp_type) == 1: #need salary here
        salary = get_ft_employee_input()
        created_emp = FullTimeEmployee(ename,eaddress, vehicle11, salary)
    elif int(emp_type) ==2: #need worked hours and rate
        worked_hrs, hourly_rate = get_hourly_employee_input()
        created_emp = HourlyEmployee(ename, eaddress, vehicle11,worked_hrs, hourly_rate )
    elif int(emp_type) ==3:#need worked hours and project type
        worked_hrs, project_type = get_consultant_input()
        created_emp = Consultant(ename, eaddress, vehicle11,worked_hrs,project_type)
    else: 
        salary, worked_hrs, project_type = get_management_input()
        created_emp = Management(ename, eaddress, vehicle11,salary, worked_hrs, project_type)
    print(created_emp)
           
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")      
    return created_emp

In [85]:
run_option1()

Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :5
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :zzz
Please select an option from 1, 2, 3, and 4.
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee nameDavid
Enter employee address103 E Campbell Road, Richardson, Texas, 75080
Enter vehicle make:BMW
Enter vehicle model:X3
Enter vehicle year of manufacture(yyyy):2018
enter vehicle milage value:5000
Enter the annual salary of the employee:110000
Enter the worked hours of the employee:5
Project Type? (Enter a number between 1 and 3):2
Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018;  Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [19]:
def run_option2(employee_list):
    while(1):
        employee_view_option = input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?")
        if employee_view_option.isnumeric():
            if int(employee_view_option)<1 or int(employee_view_option)>2: 
                print('Please select 1 or 2')
            else: 
                break
        else:
            print("please select either 1 or 2 options only")
    print("\n============================================================")        
    print("Below is the information of the first 5 employees stored in the database.")
    print("==============================================================") 
    if int(employee_view_option)==1: 
        for i in range(len(employee_list)):
            print(employee_list[i])
    else: 
        print("first 5 employees data is shown only")
        for i in range(min(len(employee_list),5)):
            print(employee_list[i])

In [20]:
run_option2(employees_list)

Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?2

============================================================
Below is the information of the first 5 employees stored in the database.
==============================================================
first 5 employees data is shown only
Details of this Full-time employee are:
Employee Name: Amy; Employee Address: 100 W CampbellRoad, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014;  Mileage: 50000
Salary: 40000.00
Details of this Full-time employee are:
Employee Name: Bob; Employee Address: 200 W CampbellRoad, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010;  Mileage: 60000
Salary: 80000.00
Details of this Full-time employee are:
Employee Name: Evan; Employee Address: 300 W CampbellRoad, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016;  Mileage: 30000
Salary: 120000.00
Details of this Hourly employee are:
Employee Name: Grace; Employee Address: 400 W CampbellRoad, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005;  Mileage: 150000
Hours Worked: 50; Hourly Rate: 20
Details of this Hourly employee are:
Employee Name: James; Employee Address: 500 W CampbellRoad, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010;  Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

In [21]:
def run_option3(employee_list):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    for i in range(len(employee_list)):
        name = employee_list[i].getemployeename()
        compensation = employee_list[i].compute_compensation()
        print("{}'s compensation(weekly) is ${:0.2f}".format(name, compensation))

In [22]:
run_option3(employees_list)

Employee name and Compensation of all Employees
=================================================
Amy's compensation(weekly) is $630.77
Bob's compensation(weekly) is $1194.23
Evan's compensation(weekly) is $1711.54
Grace's compensation(weekly) is $1160.00
James's compensation(weekly) is $750.00
Luna's compensation(weekly) is $300.00
Michael's compensation(weekly) is $2200.00
Tom's compensation(weekly) is $3500.00
Zoey's compensation(weekly) is $2550.00

In [37]:
def run_option4(employees_list):
    found_employees = []
    name_to_find = input("Enter the employee name to search in the list:")
    name_to_find = name_to_find.upper()
    #print(name_to_find)
    for i in range(0, len(employees_list)):
        #print('>>>',employees_list[i].getemployeename().upper())
        if employees_list[i].getemployeename().upper() == name_to_find:
            found_employees.append(employees_list[i])
    if len(found_employees) ==0: 
        print("no name matched with the given employee list")
        return found_employees
    print("\n============================================================")        
    print("Below is the information of all employees that match the name you entered in the database.")
    print("==============================================================") 
    for i in range(0, len(found_employees)):
        print(found_employees[i])
    return found_employees

In [38]:
matched_emp_list=run_option4(emp_list)
print("\nThere are {} employees matching your search.".format(len(matched_emp_list)))

Enter the employee name to search in the list:TOM

============================================================
Below is the information of all employees that match the name you entered in the database.
==============================================================
Details of this Consultant employee are:
Employee Name: Tom; Employee Address: 800 W CampbellRoad, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018;  Mileage: 30000
Hours Worked: 50; Project Type: 2

There are 1 employees matching your search.

In [45]:
def run_option5(employee_list):
    #get the mean and maximum compensation and reimbursement
    len_emp = len(employee_list)
    compensation_mean = 0
    compensation_max = float('-inf')
    compensation_min = float('inf')
    mil_count = 0 #count of employees with milage >100k
    for i in range(len_emp):
        if employee_list[i].compute_compensation()>compensation_max: 
            compensation_max = employee_list[i].compute_compensation()
        compensation_mean +=employee_list[i].compute_compensation()
        if employee_list[i].compute_compensation()<compensation_min: 
            compensation_min = employee_list[i].compute_compensation()
        if employee_list[i].getemployeevehicle_mil() >100000:
            mil_count +=1
    compensation_mean = compensation_mean/len_emp
    print("\n============================================================")        
    print("Below is the information of statistics in the database.")
    print("==============================================================")
    print("There are {0} employees stored in this employee database.".format(len_emp))
    print("Highest weekly compensation of all employees is: $", compensation_max)
    print("Mean weekly compensation of all employees is: $", round(compensation_mean,2))
    print("The number of employees who have a vehicle with over 100,000 mileage is {0}.".format(mil_count))
    #return (compensation_max, round(compensation_mean,2), compensation_min)

In [46]:
run_option5(employees_list)

============================================================
Below is the information of statistics in the database.
==============================================================
There are 9 employees stored in this employee database.
Highest weekly compensation of all employees is: $ 3500
Mean weekly compensation of all employees is: $ 1555.17
The number of employees who have a vehicle with over 100,000 mileage is 2.

In [47]:
def run_option6(employee_list):
    name_list = run_option4(employee_list)
    print(name_list)
    n_len = len(name_list)
    option_to_choose=int(input("Which employee do you want to check (enter a number)?"))
    #option_to_choose =  int(input("enter a number to select for the employee (1 index based): with maximum {}".format(len(name_list))))
    if option_to_choose>n_len:
        print("out of selection")
    else: 
        emp_val = name_list[option_to_choose-1]
        #print('>>>>',isinstance(emp_val,FullTimeEmployee), isinstance(emp_val,HourlyEmployee), isinstance(emp_val,Consultant), isinstance(emp_val,Management))
        #check employee type: 
        if isinstance(emp_val,FullTimeEmployee): 
            #print("hello")
            expenses = int(input("Enter the annual expenses of this employee?"))
            reimbursement = emp_val.compute_reimbursement(expenses)
            #print('Weekly reimbursement of this employee is  ${0:0.2f}.'.format(reimbursement))
        elif isinstance(emp_val,HourlyEmployee) or isinstance(emp_val,Consultant):
            expenses = int(input('Enter the weekly expenses of this employee? '))
            reimbursement = emp_val.compute_reimbursement(expenses)
            #print('Weekly reimbursement of this employee is  ${0:0.2f}.'.format(reimbursement))
        elif isinstance(emp_val,Management): #management
            annaul_expenses = int(input("annual expense ? "))
            weekly_expenses = int(input("weekly expenses of the consulatant employee"))
            reimbursement = emp_val.compute_reimbursement(annaul_expenses, weekly_expenses)
            #print('Weekly reimbursement of this employee is  ${0:0.2f}.'.format(reimbursement))
        print('\n\n############################################################')
        print('This employee should have a weekly reimbursement of ${0:0.2f}.'.format(reimbursement))

In [48]:
run_option6(employees_list)

Enter the employee name to search in the list:Bob

============================================================
Below is the information of all employees that match the name you entered in the database.
==============================================================
Details of this Full-time employee are:
Employee Name: Bob; Employee Address: 200 W CampbellRoad, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010;  Mileage: 60000
Salary: 80000.00
[<__main__.FullTimeEmployee object at 0x0000023394FDBD30>]
Which employee do you want to check (enter a number)?1
Enter the annual expenses of this employee?8000


############################################################
This employee should have a weekly reimbursement of $153.85.

0

In [86]:
run_option6(employees_list)

Enter the employee name to search in the list:james

============================================================
Below is the information of all employees that match the name you entered in the database.
==============================================================
Details of this Hourly employee are:
Employee Name: James; Employee Address: 500 W CampbellRoad, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010;  Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
[<__main__.HourlyEmployee object at 0x0000023394FDB7F0>]
Which employee do you want to check (enter a number)?1
Enter the weekly expenses of this employee? 130


############################################################
This employee should have a weekly reimbursement of $100.00.

0

In [56]:
import pickle
import sys, os
def run_option7(employee_list):
    print("This option is selcteing the exit program")
    option_user =  input('ARE you sure to close this program with exit (Y/N)?')
    if option_user =="Y" or option_user == 'y':
        with open ('employee_data.dat', 'wb') as write_file:
            for i in range(0, len(employee_list)): 
                pickle.dump(employee_list[i], write_file)
        print("Wrote all the employee details to the file hence exiting the program")
        print("\n============================================================")  
        print('Program succesfully being closed')
        print("============================================================")  
        sys.exit()
    elif option_user =="N" or option_user == 'n':
        print("\n============================================================")  
        print('Going back to selection menu')
        print("============================================================")  
    else: 
        print("Your input doesn't match any valid option and has been considered as 'N'.")
        print('Going back to selection menu')
    #return 0

In [57]:
run_option7(employees_list)

This option is selcteing the exit program
ARE you sure to close this program with exit (Y/N)?b
Your input doesn't match any valid option and has been considered as 'N'.
Going back to selection menu

In [58]:
run_option7(employees_list)

This option is selcteing the exit program
ARE you sure to close this program with exit (Y/N)?N

============================================================
Going back to selection menu
============================================================

In [59]:
run_option7(employees_list)

This option is selcteing the exit program
ARE you sure to close this program with exit (Y/N)?Y
Wrote all the employee details to the file hence exiting the program

============================================================
Program succesfully being closed
============================================================

SystemExit:

In [66]:
def run_menu_choices():
    #this programs lists the possible menu options
    employees_list = read_emp_file()
    user_selection = 1
    while(1):
        #display options
        print("\n==== Menu ====")
        print("1. To add an employee")
        print("2. To print the name and address of employees")
        print("3. To print the employee name and compensation of all employees")
        print("4. To search for employees by name")
        print("5. To check the basic statistics of employees")
        print("6. To calculate the reimbursement of one employee")
        print("7. To exit program")
        
        #take selection input
        user_selection=input('Choose the user selection option carefully from 1-7:')
        if user_selection.isnumeric():
            if(int(user_selection)<1 or int(user_selection)>7):
                print("You must enter an integer between 1 and 7!")
            else: 
                user_selection = int(user_selection)
                break
        else:
            print("You must enter an integer between 1 and 7!")
            continue

        print("Your selection is:",user_selection)
    if user_selection==1: 
        employees_list.append(run_option1()) #add the new employees to the old list
    elif user_selection==2: 
        run_option2(employees_list)
    elif user_selection==3: 
        run_option3(employees_list)
    elif user_selection==4:
        run_option4(employees_list)
    elif user_selection==5: 
        run_option5(employees_list)
    elif user_selection==6: 
        run_option6(employees_list)
    elif user_selection==7: 
        run_option7(employees_list)
    else: 
        print('You must enter an integer between 1 and 7!')

In [67]:
#if __name__ == '__main__':
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:0
You must enter an integer between 1 and 7!
Your selection is: 0

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:8
You must enter an integer between 1 and 7!
Your selection is: 8

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:zzz
You must enter an integer between 1 and 7!

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:7
This option is selcteing the exit program
ARE you sure to close this program with exit (Y/N)?n

============================================================
Going back to selection menu
============================================================

In [68]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee nameDavid
Enter employee address103 E Campbell Road, Richardson, Texas, 75080
Enter vehicle make:BMW
Enter vehicle model:X3
Enter vehicle year of manufacture(yyyy):2018
enter vehicle milage value:5000
Enter the annual salary of the employee:110000
Enter the worked hours of the employee:5
Project Type? (Enter a number between 1 and 3):2
Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018;  Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [70]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee nameGrace
Enter employee address105 E Campbell Road, Richardson, TX, 75080
Enter vehicle make:Audi
Enter vehicle model:A3
Enter vehicle year of manufacture(yyyy):2015
enter vehicle milage value:35000
Enter the annual salary of the employee:90000
Enter the worked hours of the employee:10
Project Type? (Enter a number between 1 and 3):3
Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, TX, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015;  Mileage: 35000
Salary: 90000.00; Hours Worked: 10; Project Type: 3

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [71]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:1
Type of Employee?(1-Full Time;2-Hourly;3-Consultant;4-Management) :4
Enter the employee nameZOEY
Enter employee address107 E Campbell Road, Richardson, TX, 75080
Enter vehicle make:Porsche
Enter vehicle model:Cayenne
Enter vehicle year of manufacture(yyyy):2019
enter vehicle milage value:3000
Enter the annual salary of the employee:150000
Enter the worked hours of the employee:8
Project Type? (Enter a number between 1 and 3):1
Details of this Management are:
Employee Name: ZOEY; Employee Address: 107 E Campbell Road, Richardson, TX, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019;  Mileage: 3000
Salary: 150000.00; Hours Worked: 8; Project Type: 1

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [72]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)?1

============================================================
Below is the information of the first 5 employees stored in the database.
==============================================================
Details of this Full-time employee are:
Employee Name: Amy; Employee Address: 100 W CampbellRoad, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014;  Mileage: 50000
Salary: 40000.00
Details of this Full-time employee are:
Employee Name: Bob; Employee Address: 200 W CampbellRoad, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010;  Mileage: 60000
Salary: 80000.00
Details of this Full-time employee are:
Employee Name: Evan; Employee Address: 300 W CampbellRoad, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016;  Mileage: 30000
Salary: 120000.00
Details of this Hourly employee are:
Employee Name: Grace; Employee Address: 400 W CampbellRoad, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005;  Mileage: 150000
Hours Worked: 50; Hourly Rate: 20
Details of this Hourly employee are:
Employee Name: James; Employee Address: 500 W CampbellRoad, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010;  Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
Details of this Hourly employee are:
Employee Name: Luna; Employee Address: 600 W CampbellRoad, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005;  Mileage: 160000
Hours Worked: 20; Hourly Rate: 15
Details of this Consultant employee are:
Employee Name: Michael; Employee Address: 700 W CampbellRoad, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011;  Mileage: 80000
Hours Worked: 40; Project Type: 1
Details of this Consultant employee are:
Employee Name: Tom; Employee Address: 800 W CampbellRoad, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018;  Mileage: 30000
Hours Worked: 50; Project Type: 2
Details of this Consultant employee are:
Employee Name: Zoey; Employee Address: 900 W CampbellRoad, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018;  Mileage: 15000
Hours Worked: 30; Project Type: 3
Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018;  Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2
Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, TX, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015;  Mileage: 35000
Salary: 90000.00; Hours Worked: 10; Project Type: 3
Details of this Management are:
Employee Name: ZOEY; Employee Address: 107 E Campbell Road, Richardson, TX, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019;  Mileage: 3000
Salary: 150000.00; Hours Worked: 8; Project Type: 1

In [73]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:3

Employee name and Compensation of all Employees
=================================================
Amy's compensation(weekly) is $630.77
Bob's compensation(weekly) is $1194.23
Evan's compensation(weekly) is $1711.54
Grace's compensation(weekly) is $1160.00
James's compensation(weekly) is $750.00
Luna's compensation(weekly) is $300.00
Michael's compensation(weekly) is $2200.00
Tom's compensation(weekly) is $3500.00
Zoey's compensation(weekly) is $2550.00
David's compensation(weekly) is $1932.69
Grace's compensation(weekly) is $2175.00
ZOEY's compensation(weekly) is $2538.08

In [74]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:Grace
You must enter an integer between 1 and 7!

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:4
Enter the employee name to search in the list:Grace

============================================================
Below is the information of all employees that match the name you entered in the database.
==============================================================
Details of this Hourly employee are:
Employee Name: Grace; Employee Address: 400 W CampbellRoad, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005;  Mileage: 150000
Hours Worked: 50; Hourly Rate: 20
Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, TX, 75080
Make: Audi; Model: A3; Year of Manufacture: 2015;  Mileage: 35000
Salary: 90000.00; Hours Worked: 10; Project Type: 3

In [75]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:5

============================================================
Below is the information of statistics in the database.
==============================================================
There are 12 employees stored in this employee database.
Highest weekly compensation of all employees is: $ 3500
Mean weekly compensation of all employees is: $ 1720.19
The number of employees who have a vehicle with over 100,000 mileage is 2.

In [76]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:6
Enter the employee name to search in the list:ZOEY

============================================================
Below is the information of all employees that match the name you entered in the database.
==============================================================
Details of this Consultant employee are:
Employee Name: Zoey; Employee Address: 900 W CampbellRoad, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018;  Mileage: 15000
Hours Worked: 30; Project Type: 3
Details of this Management are:
Employee Name: ZOEY; Employee Address: 107 E Campbell Road, Richardson, TX, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019;  Mileage: 3000
Salary: 150000.00; Hours Worked: 8; Project Type: 1
[<__main__.Consultant object at 0x0000023394FDD430>, <__main__.Management object at 0x0000023396F16D90>]
Which employee do you want to check (enter a number)?1
Enter the weekly expenses of this employee? 120


############################################################
This employee should have a weekly reimbursement of $96.00.

In [77]:
run_menu_choices()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Choose the user selection option carefully from 1-7:7
This option is selcteing the exit program
ARE you sure to close this program with exit (Y/N)?Y
Wrote all the employee details to the file hence exiting the program

============================================================
Program succesfully being closed
============================================================

SystemExit: